body {
    background-image: url(bmo.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background-color:rgb(138, 181, 225) ;
    height: 15em;
    width: 15em ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}


#btn {
    font-size: 0.5em;
    width: 6em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    border-radius: 1em;
    border-width: 1px;
    transition-duration: 1s;

}

#btn:hover {
    transition-duration: 1s;
    background-color: rgb(183, 227, 255);
}
#btn:active {
    transition-duration: 1s;
    background-color: lightskyblue;
}


.input {
    width: 5em;
    border-radius: 1em;
    border-width: 1px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;

}


.esquerda {
    display: flex;
    justify-content: center;
    margin-left: 1em;
    height: 2em;
    flex-direction: row;
}

.nota {
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium';
    margin-bottom: 2em;
    height: 0.5em;
   
}


.linha_1 {
    display: flex;
    justify-content: space-between;
    background-color: lightslategray;
    height: 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    flex-direction: row;
}

.log {
    background-color: white;
    height: 9em;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-style: groove;
    border-color: black;
    border-width: 1px;
}



.linha_2 {

    display: flex;
    flex-direction: row;
    height: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-top: 1em;
    
}

.botao_2 {
    font-size: 0.5em;
    width: 9em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    border-radius: 1em;
    border-width: 1px;
    margin-left: 1em;
}

.botao_2:hover {
    transition-duration: 1s;
    background-color: rgb(183, 227, 255);
}
.botao_2:active {
    transition-duration: 1s;
    background-color: lightskyblue;
}

.média {
    margin-left: 1em;
    font-family: 'Franklin Gothic Medium';
    font-size: 0.9em;

}

